.title {
    font-size: 1.6rem;
    line-height: 1.2;

    font-family: 'Merienda', 'Courier New', Courier, monospace;
    font-weight: 700;

    padding-bottom: 10px;
}

form {
    width: 30%;
    min-width: 300px;

    display: flex;
    flex-direction: column;
}

button {
    margin-right: 10px;
}