mat-toolbar {
    position: fixed;

    bottom: 0;
    left: 0;

    display: flex;
    justify-content: flex-end;
}

mat-toolbar span {
    font-size: .75rem;

    font-family: 'Merienda', 'Courier New', Courier, monospace;
    font-weight: 700;
}