<mat-card>
    <mat-card-title class="title">Are you sure you want to delete the product?</mat-card-title>
    
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput autocomplete="off"
                [(ngModel)]="product.name" name="name" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Price (US$)</mat-label>
            <input matInput autocomplete="off"
                [(ngModel)]="product.price" name="price" disabled>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteProduct()" id="delete">
        Delete
    </button>
    <button mat-raised-button (click)="goBack()">
        Cancel
    </button>
</mat-card>
